/* ------------------- */
/*  Estilos Generales  */
/* ------------------- */
* {
  font-family: "Nunito Sans", sans-serif;
}
body {
  padding-top: 74px; 
}
.texto-color-agp {
  color: #00a8f4;
}
.texto-justificado {
  text-align: justify;
}

h1{
  font-size: 2.3rem;
}
h2, h3{
  font-size: 1.75rem;
}

/* ------------------- */
/* ------ Header ----- */
/* ------------------- */
.navbar.position-fixed {
  z-index: 1100;
}
.logotipo-header {
  height: 4rem;
  object-fit: contain;
}


/* ------------------- */
/* ------- Main ------ */
/* ------------------- */
.principal-container{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/inicio/imagenInicio.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
  width: 100%;
  background-position: center;
}
.cliente-img {
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}
.cliente-img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

/* ------------------- */
/* ----- Footer ------ */
/* ------------------- */
.main-footer {
  background-color: #e7e8edbe;
}
.sub-footer {
  text-align: center;
}
.logotipo-footer {
  max-width: 13.5rem;
  object-fit: contain;
}

.main-footer .footer-link:hover {
  color: #00a8f4; 
}

/* -------------------------- */
/* ----- Media Queries ------ */
/* -------------------------- */
@media only screen and (min-width: 768px) {
h1{
  font-size: 3.5rem;
}
h2, h3 {
    font-size: 2.2rem; 
  }
.sub-footer {
    text-align: left;
  }
}
